body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navigation{
  margin-top: 5%;
  margin-bottom: 5%;
}

#navigation a{
  margin-right: 10%;
}

#navigation a:last-child{
  margin-right: 0;
}



.news-grid {
  position: relative;
  /* width: 800%;  */
  animation: slideshow 40s linear infinite;
}
.news-grid:hover {
  animation-play-state: paused;
}

.news-item {
  float: right;
  cursor: pointer;
  overflow: hidden;
  /* width: 25%;   */
}
.news-item p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@keyframes slideshow {
  0% {
    right: -100%;
  }
  100% {
    right: 3300px; /* Total width of all images */
  }
}