/* Base font size for mobile screens */
html {
  font-size: 16px;
}
@media (min-width: 340px) {
  html {
    font-size: 18px;
  }
}
/* Font sizes for tablet screens */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Font sizes for desktop screens */
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

/* Font sizes for large desktop screens */
@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

/* GENERAL */
body {
  font-family: 'Open Sans', sans-serif!important;
}


/* Home Page */

@media all and (max-width: 1400px) {
  /* screen size until 500px */
  .news-feed-container .carousel-caption{
    position: relative!important;
    left: 0!important;
    min-height: max-content!important;
 }
 .news-feed-container  .carousel-indicators{
    display: none;
  }
}

@media all and (max-width: 1000px) {
  .news-feed-container {
    flex-direction: column;
    padding: 0 !important;
  }
  .news-item {
    margin-right: 0 !important;
    width: 100% !important;
    max-width: 88vw !important;
    margin-left: 0 !important;
  }
  .footer-info{
    flex-direction: column;
  }
}

.news-grid {
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  max-width: 100%;
}

.news-grid-inner{
  display: flex;
  height: 100px;
  width: 1850px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 15s linear infinite;
}
 
.news-item p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.news-feed-container .carousel-control-prev, .news-feed-container .carousel-control-next {
  position: absolute;
  bottom: 8px;
  right: 10px;
  opacity: 1;
  top: 8px;
  height: 40px;
  width: auto;
  border: 1px solid #ffffff5e;
}
.news-feed-container .carousel-control-prev{
  right: 60px;
  left: unset;
}

@media all and (min-width: 1000px) {
  .news-feed-container .carousel-control-prev, .news-feed-container .carousel-control-next {

    top: unset;
    width: auto;
    height: auto;

  }

}

.news-feed-container .carousel-indicators{
  display: none;
}
.news-feed-container .news-feeed-right h2{
  padding-top: 1rem;
}
.news-feed-container .news-feeed-right .news-item{
  margin: 0.4rem;
  width: 90%;
  height: auto;
}
@media all and (min-width: 1200px) {
  .news-feed-container .news-feeed-right .news-item{
    margin: 0.4rem;
    height: 90px;
  }
}
/* Youtube Widget */
.youtube-card{
  width: 32%;
  height: 340px;
}
@media all and (max-width: 1000px) {
  .youtube-card{
    width: 100%;
  
  }
  .youtube-stack{
    flex-direction: column!important;
  }
}

/* BTCFearAndGrid - Main Page Container*/
/* .btc-cread-and-fear{
  display: flex;
  justify-content: space-between;
} */
.btc-widget-fag{
  display: flex;
  flex-direction:column-reverse;
}
.btc-widget .apexcharts-title-text{
  font-family:'Open Sans'!important;
  font-size: 1rem;
  background-image: url('/public/assets/icons/currency-bitcoin.svg');
}
@media all and (min-width: 1200px) {
  .btc-widget{
    display: flex;
    justify-content: space-between;
    border-radius: 0.375rem;
    border: 1px solid rgba(0, 0, 0, 0.175);
    padding: 0 1rem 0 0!important;
    
  }
  .btc-widget-fag{
    flex-direction: row;
    overflow: hidden;
    padding: 0 1rem;
  }
  .btc-widget-candle-chart{
    border-right: 1px solid rgba(0, 0, 0, 0.175);
  }
  .btc-widget-fag-img{
    width: 55%;
  }
  .btc-widget-hdata{
    width: 32%;
    padding-top: 1rem;
    font-size: 0.7rem;
    font-weight: 700;
  }
  .btc-widget-hdata h5{
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }
}
/* Coins Table */
table.coins-chart  thead  th{
  cursor: pointer;
}
.top10{
  overflow-x: auto;
  overflow-y: none;
}
 
/* News Item Page */
.breadcrumb a { color: #6c757d; }


/* ANimations */
@keyframes moveSlideshow {
  0% {
    transform: translateX(40%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}