@media all and (max-width: 500px) {
  /* screen size until 500px */
  .news-feed-container {
    flex-direction: column;
    padding: 0 !important;
  }
  .news-item {
    margin-right: 0 !important;
    width: 100% !important;
    max-width: 88vw !important;
    margin-left: 0 !important;
  }
  .footer-info{
    flex-direction: column;
  }
}
.youtube-card{
  width: 32%;
  height: 340px;

}
@media all and (max-width: 1000px) {
  .news-feed-container {
    flex-direction: column;
    padding: 0 !important;
  }
  .youtube-card{
    width: 100%;
  
  }
  .youtube-stack{
    flex-direction: column!important;
  }
}

.news-grid {
  position: relative;
  /* width: 800%;  */
  animation: slideshow 40s linear infinite;
}
.news-grid:hover {
  animation-play-state: paused;
}

.news-item {
  float: right;
  cursor: pointer;
  overflow: hidden;
  /* width: 25%;   */
}
.news-item p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@keyframes slideshow {
  0% {
    right: -100%;
  }
  100% {
    right: 2700px; /* Total width of all images */
  }
}
